$red: #DC3545;
$yellow: #FFC106;
$green: #27A745;
$blue: #007BFE;

// ==== color classes ====

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

// ==== base layout ====

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body, .App {
  height: 100%;
  width: 100%;
  background: #181C1F;
  color: #fff;
}

// ==== Component Styles ====

.spinner {
  &__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
